.navigation {
    list-style: none;
  }
  
  .nav-item a {
    /* non-critical appearance styles */
    display: block;
    padding: 1em;
    color: #000;
    text-decoration: none;
    transition: color 0.2s, background 0.5s;
  }
  
  .nav-item a:hover {
    color:white;
    background: cornflowerblue;
  }
  